@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" id="homecon">
    <p class="display-4">Divy Jain 2002837</p>
    <a class="btn btn-primary" asp-area="" asp-controller="Students" asp-action="List">Click Here</a>
</div>
