@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model StudentPortal.web.Models.AddStudentViewModel  // we can access the property of the view model in this cshtml file 

<div class="p-3">
<h1>Add Student Details</h1>
<form method="post" class="mt-4">
    <div class="mb-3">
        <label for="sname" class="form-label">Student Name</label>
        <input type="text" class="form-control" id="sname" asp-for="Name"/>
    </div>
    <div class="mb-3">
        <label for="fname" class="form-label">Father Name</label>
        <input type="text" class="form-control" id="fname" asp-for="FName"/>
    </div>
    <div class="mb-3">
        <label for="mname" class="form-label">Mother Name</label>
        <input type="text" class="form-control" id="mname" asp-for="MName"/>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Age</label>
        <input type="number" class="form-control" id="age" min="1" asp-for="Age"/>
    </div>
    <div class="mb-3">
        <label for="hadd" class="form-label">Home Address</label>
        <input type="text" class="form-control" id="hadd" asp-for="Address"/>
    </div>
    <div class="mb-3">
        <label for="regdate" class="form-label">Registration Date</label>
        <input type="date" class="form-control" id="regdate" asp-for="RegDate"/>
    </div>
    <div class="mb-3">
    <button type="submit" class="btn btn-success">Add</button>
    </div>
</form>
</div>